@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@100&display=swap');
.app-btn{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}
.col-p{
  font-family: 'Cormorant Garamond', serif;
  
}
body{
  height: 100vh;
}
.scrollbar-thumb{
  background-color: #cb8161 !important;
}
.scrollbar-track-y{
  width: 4px !important;
  height: 10px !important;
}